.formgroup {
    margin-bottom: 20px;
}

.modaltitle {
    width: 125px;
    height: 33px;
    left: 410px;
    top: 160px;
    font-family: 'Inter';
    font-style: normal;
    font-weight: 600;
    font-size: 22px;
    line-height: 150%;
    color: #111928;
}


.form_label {
    width: "auto";
    height: 14px;
    left: 410px;
    top: 236px;
    font-family: 'Inter';
    font-style: normal;
    font-weight: 600;
    font-size: 14px;
    line-height: 100%;
    display: flex;
    align-items: center;
    text-transform: uppercase;
    color: #212121;
}

.form_input {
    width: 440px;
    height: 40px;
    left: 410px;
    top: 257px;
}


.grid_form_input {
    height: 40px;
    left: 410px;
    top: 455px;
}

.cancelbtn {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    padding: 9px 17px;
    font-weight: 600;
    width: 88px;
    height: 42px;
    left: 815px;
    top: 634px;
    background: #FFFFFF;
    border: 1px solid #D1D5DB;
    border-radius: 6px;

}

.submitbtn {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    padding: 9px 17px;
    width: auto;
    height: 42px;
    left: 915px;
    top: 634px;
    color: #9CA3AF;
    background: #F6F6F6;
    border-radius: 6px;
}