/*back button*/

.prevbtn {
    position: absolute;
    width: 54px;
    height: 17px;
    left: 68px;
    top: 58px;
    }
    
    .vector {
        position: absolute;
        left: 4.72%;
        right: 94.64%;
        top: 6.56%;
        bottom: 91.67%;
        opacity: 0.4;
    }
    
    .backbtn {
        position: absolute;
        width: 34px;
        height: 17px;
        left: 88px;
        top: 58px;
        font-family: 'Inter';
        font-style: normal;
        font-weight: 600;
        font-size: 14px;
        line-height: 17px;
        color: #A6A6A6;
        text-decoration: none;
    }
    
    /*back button*/
    
    
    /*forgot password */
    
    .h3_title {
        position: absolute;
        width: 401px;
        height: 46px;
        left: 495px;
        top: 196px;
        text-align: left;
        font-family: 'Inter';
        font-style: normal;
        font-weight: 600;
        font-size: 38px;
        line-height: 46px;
        color: #212121;
    }
    
    .subtitle {
        position: absolute;
        width: 451px;
        height: 58px;
        left: 495px;
        top: 247px;
        text-align: left;
        font-family: 'Inter';
        font-style: normal;
        font-weight: 400;
        font-size: 18px;
        line-height: 29px;
        color: #212121;
    }
    
    .emailtext {
        position: absolute;
        width: 32px;
        height: 15px;
        left: 496px;
        top: 365px;
        font-family: 'Inter';
        font-style: normal;
        font-weight: 600;
        font-size: 12px;
        line-height: 15px;
        color: #212121;
        opacity: 0.4;
    }
    
    .emailinput {
        position: absolute;
        width: 450px;
        left: 496px;
        top: 434px;
        background: white;
        border-radius: 0;
        border: 0;
        border-radius: 0;
        border-bottom: 1px solid #ebebeb;
        outline: none;
    
    }
    
    .btnforgotpassword {
        position: absolute;
        width: 450px;
        height: 50px;
        left: 496px;
        top: 496px;
        border: 0;
        background: #1996FC;
        color: #ffff;
        box-shadow: 0px 0px 4px rgba(28, 30, 33, 0.16);
        border-radius: 6px;
    }
    
    .linkText {
        position: absolute;
        width: 47px;
        height: 17px;
        left: 698px;
        top: 572px;
        font-family: 'Inter';
        font-style: normal;
        font-weight: 500;
        font-size: 14px;
        line-height: 17px;
        text-align: center;
        text-decoration: none;
        color: #212121;
    }
    
    /*forgot password*/