.splash {
    position: absolute;
    width: 187px;
    height: 153.93px;
    left: 627px;
    top: 380.07px;
    align-items: center;

}


.splash:hover .logo {
    transform: translate(-320px,320px);
  
}