.adminmodalcontainer {
    padding: 2rem;
    position: absolute;
    width: 700px;
    height: 319px;
    left: 370px;
    top: 140px;
    background: #FFFFFF;
    border-radius: 16px;
}

.closebutton {
    position: absolute;
    left: 610px;
    top: 5px;
    bottom: 10px;
}

.gridbox {
    display: flex;
    justify-content: space-between;
}

.viewdetails {

    width: 133px;
    padding-bottom: 10px;
    left: 410px;
    top: 180px;
    font-family: 'Inter';
    font-style: normal;
    font-weight: 600;
    font-size: 22px;
    line-height: 150%;
    color: #111928;
}

.subtitle {
    font-family: "Inter";
    font-style: normal;
    font-weight: 600;
    font-size: 28px;
    line-height: 150%;
    color: #111928;
    padding-bottom: 10px;
    width: auto;
}

.details {
    padding-top: 10px;
}

.title {
    left: 28.47%;
    right: 65.83%;
    top: 24.17%;
    bottom: 74.22%;
    font-family: 'Inter';
    font-style: normal;
    font-weight: 500;
    font-size: 14px;
    line-height: 17px;
    text-transform: none;
    color: #757575;
    width: auto;
}

.field {
    left: 28.47%;
    right: 67.36%;
    top: 26.72%;
    bottom: 71.01%;
    font-family: 'Inter';
    font-style: normal;
    font-weight: 600;
    font-size: 16px;
    line-height: 150%;
    color: #111928;
}